/*Begin your code here*/
/*Requirement 1*/
body{
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: 'Raleway', sans-serif;
  background-image: url("../images/concrete_seamless.png");
}

/*Requirement 2*/
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  /*Your  code here again.*/

}

/*Requirement 3*/
.nav_links{
  /*Your code here again.*/
  display: flex;
  flex-direction:column;
  justify-content: center;

}


/*Requirement 4*/
.price{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


    /*Your code here*/
    /*You must use flex.
    /*Don't forget to vertically and horizontally 
    align the element*/

/*Requirement 5*/
.package {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  
  /*Your code here.*/
  /*Take a look at flex-basis*/
  flex-basis: 400px;
}

/*Requirement 6*/

.package header{
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}


/*Requirement 7*/
.gallery{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  /*Your code here again.*/

}

/*Requirement 8*/

.gallery img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}


/*Requirement 9*/
#logo{
  animation-duration: 15s;
  animation-name: logo_grow;
   /*Your code here.*/
 
}

/*Keyframes for animation*/
@-webkit-keyframes logo_grow{
  from {
    opacity: 0;
    width: 25px;
    /* transform: scale(1); */
  }

  to {
    opacity: 1;
    width: 420px;
    /* transform: scale(16.8); */
  }
  /*Your code here.*/

}

@keyframes logo_grow{
  /*Your code here.*/
  from {
    opacity: 0;
    width: 25px;
    /* transform: scale(1); */
  }

  to {
    opacity: 1;
    width: 420px;
    /* transform: scale(16.8); */
  }

} 

@media screen and (min-width: 850px){

  /*Requirement 10*/
  header{
    /*Your code here again.*/  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /*Requirement 10*/
  .nav_links{
    display: flex;
    flex-direction: row;

    /*Your code here again.*/  
  }

  /*Requirement 11*/
  .package {
    flex-basis: 230px;
    /*Your code here again.*/
  } 
}

/*Requirement 12*/
/*Add media query to handle reduced-motion*/
/*Your code here again.*/ 

@media (prefers-reduced-motion: reduce) {
  #logo {
    animation: none;
  }


@media print { 

  /*Requirement 13*/
  body {
    background-image: none;
  }
  /*Requirement 14*/
  nav {
    width: 100%;
  }
  /*Requirement 15*/
  .nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /*Requirement 16*/
  .price {
    align-items: flex-end;
  }
  /*Requirement 17*/
  .package {
    border: 2px solid #45ADAD;
    flex-basis: 200px;
  }
  /*Requirement 18*/
  #gallery, .gallery {
    display: none;
  }
}